@model Honcizek.DAL.Models.Tickets

@{
    ViewData["Title"] = "Edit";
}
<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>Editar</h1>
        <h4>Tickets</h4>
    </div>
    <div class="align-self-end pr-3">
        <a asp-controller="Partes" asp-action="Index" asp-route-id="@Model.Id">
            <button class="btn btn-warning">Consultar partes de trabajo</button>
        </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClienteId" />
            <input type="hidden" asp-for="AgenteId" />
            <input type="hidden" asp-for="FechaRegistro" />
            <input type="hidden" asp-for="HoraRegistro" />
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="SuscripcionId" class="control-label">Suscripci&oacute;n</label>
                    <select asp-for="SuscripcionId" class="form-control" asp-items="ViewBag.SuscripcionId"></select>
                </div>
            </div>


            <div class="row col-12">

                <div class="form-group col-4">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estado"></select>
                </div>
                <div class="form-group col-4">
                    <label asp-for="FechaFinalizacion" class="control-label"></label>
                    <input readonly type="date" asp-for="FechaFinalizacion" class="form-control" />
                    <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="HoraFinalizacion" class="control-label"></label>
                    <input readonly type="time" asp-for="HoraFinalizacion" class="form-control" />
                    <span asp-validation-for="HoraFinalizacion" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-4">
                <label asp-for="Descripcion" class="control-label">Descripci&oacute;n</label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group pl-3">
                <input type="submit" value="Guardar" class="btn btn-info" />
            </div>
        </form>
        <div class="pt-3 pl-3">
            <a asp-action="Index">
                <button class="btn btn-primary">Volver al listado</button>
            </a>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Administrador/Tickets/TicketsEdit.js"></script>
    <script>
        $(document).ready(function () {
            Tickets.init("@ViewData["hoy"]","@ViewData["hora"]");
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
