<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honcizek</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Cliente.css" />
</head>
<body>
    <header>
        <div class="left-side d-flex justify-content-center">
            <a asp-controller="Administrador" asp-action="Escritorio" class="d-flex justify-content-center">
                <img class="p-2" id="logo" src="~/css/Administrador/logo_white_large.png" alt="Logo" />
            </a>

        </div>
        <div class="rest-header bg-danger w-100 h-100">
            <ul class="horizontal h-100">
                <li><a asp-controller="Cliente" asp-action="Escritorio">Inicio</a></li>
                <li><a asp-controller="ProyectosC" asp-action="Index" >Proyectos</a></li>
                <li><a asp-controller="SuscripcionesC" asp-action="Index">Suscripciones</a></li>
                @*<li><a href="javascript:void(0)">About</a></li>*@
                <li class="float-right pt-1 pr-1"><form class="float-right pb-1" asp-controller="LoginC" asp-action="Logout" method="post">
    <button class="btn btn-danger">Cerrar sesión</button>
</form></li>
            </ul>
        </div>
    </header>
    <div class="d-flex main">
       @* <aside class="d-flex flex-column">
        </aside>*@
            <section>
                <div class="section">

                @RenderBody()
                </div>
            </section>
    </div>
        <footer class="border-top footer text-muted ">
            <div class="container">
                
                <span class="float-left">&copy; 2021 - Honcizek - Todos los derechos reservados</span>
            </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>