@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string rol;
    switch (ViewData["rol"])
    {
        case "Administrador":
            rol = (string)ViewData["rol"];
            break;
        case "Programador":
            rol = (string)ViewData["rol"];
            break;
        case "Cliente":
            rol = (string)ViewData["rol"];
            break;
        default :
            rol = "Login";
            break;
    }
    string accion = rol != "Login"? "Escritorio":"Login";

            }
<style>
    body {
        background-image: url('/css/Error/404_background.png');
            overflow: hidden;
        min-height: 100vh;
        background-color: #efeef0;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial;
        font-size: larger;
    }
        body a {
            text-decoration: none;
            color: #c6a664;
    }

        body a:hover {
        color: #0B1D6E;
    }

    body h2{
        position: absolute;
        top: 25%;
        left: 15%;
    }
    body h3 {
        position: absolute;
        top: 35%;
        left: 15%;
    }
</style>
<body>
    <h2>Parece que la página a la que intentas acceder no existe..@ViewData["rol"]</h2>
    <h3>Prueba a volver a la página de 
        <a asp-controller="@rol" asp-action="@accion">
            @accion
        </a>
    </h3>
</body>