
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

 Provide sufficient contrast against white background 
a {
    color: #0366d6;
}

a:hover{
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

     Margin bottom by footer height 
body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 46px;
}


table {
    border-collapse: collapse;
    border-spacing: 1px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,th{
    text-align: center;
}

table thead{
    justify-content: center;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table thead th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 3;
    font-weight: unset;
}

table thead tr th:last-child {
    width: 15%;
}

table tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
}


table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e3e1e1;
}


table tbody tr td {
    padding-left: 1rem !important;
}


table tbody tr td:last-child {
    padding-top: 1vh;
    padding-bottom: 1vh;
    float: right;
    width: auto;
}

table tbody tr td:last-child button{
    align-content:baseline;
}

table tbody td:last-child a {
    display: ruby-base;
}


    .tipo-persona {
        padding-left: -2vh;
    }

/*Colores radios fase de proyecto*/

.c-analisis {
    color: #8edb41
}

.c-diseno {
    color: #E1C03B
}

.c-maquetacion {
    color: #f65314;
}

.c-desarrollo {
    color: #2E8DE7
}

.c-pruebas-internas {
    color: #00C5DC
}

.c-pruebas-cliente {
    color: #9918E7
}

.c-implantacion {
    color: #7cbb00
}

.bc-analisis {
    background-color: #8edb41;
    color: white;
}

.bc-diseno {
    background-color: #E1C03B;
    color: white;
}

.bc-maquetacion {
    background-color: #f65314;
    color: white;
}

.bc-desarrollo {
    background-color: #2E8DE7;
    color: white;
}

.bc-pruebas-internas {
    background-color: #00C5DC;
    color: white;
}

.bc-pruebas-cliente {
    background-color: #9918E7;
    color: white;
}

.bc-implantacion {
    background-color: #7cbb00;
    color: white;
}
/*Fin colores radio*/
.fase ul li,label{
    user-select:none;
    cursor: pointer;
}

.p-esfera {
    font-size: 200%;
    position: relative;
    top: 4px;
    left: 2px;
}

.p-label-fase {
    padding: 5px 35px;
    color: rgba(17, 17, 17, 0.801);
    font-size: 15px !important;
    font-weight: 500 !important;
    cursor: pointer;
    transition: all 0.8s;
}

.honci-link {
    text-decoration: none;
    color: #c6a664;
}

.honci-link:hover {
    color: #0B1D6E;
}

.check {
    position: absolute;
    right: 74%;
    height: 25%;
    top: 59%;
}
@media (max-width: 670px) {
    .check {
        position: absolute;
        right: 58%;
        height: 25%;
        top: 59%;
    }
}

#ErrorPrecio {
    display: inline-flex;
    align-items: center;
    height:100%;
}

.card-custom a{
    color: white;
    font-weight: bolder;
}

.card-custom a:hover{
    color: black;
}

#filtrador label{
    display: inline-block;
    padding-right: .5rem;
}

#filtrador input{
    display: block;
}

#filtrador input[type="button"]{
    display: inline-block;
}