@model Honcizek.DAL.Models.Clientes

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Cliente</h1>

<h4>@Model.Nombre @Model.Apellidos</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Clave" />
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    @if ((bool)ViewData["login-error"])
                    {
                        <span class="text-danger" id="login-error">Parece que ese nombre de usuario ya existe..</span>
                    }
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="ProvinciaId" class="control-label">Provincia</label>
                    <select asp-for="ProvinciaId" class="form-control" asp-items="ViewBag.ProvinciaId"></select>
                </div>
                <div class="form-group col-4">
                    <label asp-for="LocalidadId" class="control-label">Localidad</label>
                    <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId"></select>
                </div>
            </div>
            <div class="row col-12 d-none">
                <div class="form-group col-4">
                    <label asp-for="Tipo" class="control-label"></label>
                    <select asp-for="Tipo" class="form-control" asp-items="ViewBag.Tipo"></select>
                </div>
            </div>
            <div class="row col-12 tipo-empresa">
                <div class="form-group col-4">
                    <label asp-for="RazonSocial" class="control-label"></label>
                    <input asp-for="RazonSocial" class="form-control" />
                    <span id="ErrorEmpresa" class="text-danger d-none">Debes introducir un nombre</span>
                </div>
            </div>
            <div class="row col-12 tipo-persona d-none">
                <div class="form-group col-6">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span id="ErrorNombre" class="text-danger d-none">Debes introducir un nombre</span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span id="ErrorApellidos" class="text-danger d-none">Debes introducir un apellido</span>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Nifcif" class="control-label"></label>
                    <input asp-for="Nifcif" class="form-control" />
                    <span asp-validation-for="Nifcif" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Movil" class="control-label"></label>
                    <input asp-for="Movil" class="form-control" />
                    <span asp-validation-for="Movil" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Cp" class="control-label"></label>
                    <input asp-for="Cp" class="form-control" />
                    <span asp-validation-for="Cp" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-group col-6">
                    <label asp-for="Observaciones" class="control-label"></label>
                    <textarea asp-for="Observaciones" class="form-control"></textarea>
                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group pt-2 pl-3">
                <input type="submit" value="Guardar" class="btn btn-info" />
            </div>
        </form>
        <div class="pt-3 pl-3">
            <a asp-action="Index">
                <button class="btn btn-primary">Volver al listado</button>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Administrador/Clientes/Clientes.js"></script>
    <script>
    $(document).ready(function () {
        Clientes.init();
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}
