@model Honcizek.DAL.Models.Proyectos

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Proyectos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionDesarrollo" class="control-label"></label>
                <input asp-for="DescripcionDesarrollo" class="form-control" />
                <span asp-validation-for="DescripcionDesarrollo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinPrevista" class="control-label"></label>
                <input asp-for="FechaFinPrevista" class="form-control" />
                <span asp-validation-for="FechaFinPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinReal" class="control-label"></label>
                <input asp-for="FechaFinReal" class="form-control" />
                <span asp-validation-for="FechaFinReal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasInternasPrevistas" class="control-label"></label>
                <input asp-for="HorasInternasPrevistas" class="form-control" />
                <span asp-validation-for="HorasInternasPrevistas" class="text-danger"></span>
            </div>
            <div class="form-group pl-3">
                <input type="submit" value="Crear" class="btn btn-info" />
            </div>
        </form>
        <div class="pt-3 pl-3">
            <a asp-action="Index">
                <button class="btn btn-primary">Volver al listado</button>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
